<h2>
    Event Binding
</h2>

<button (click)="meuClick()">Click aqui</button>
<!-- <input (keyup)="digitou($event)"> -->
<input #valorInput (keyup)="digitouVarTemplate(valorInput.value)">

<h3>
    Event keyup para validação de senha
</h3>
<input type="password" #qtdSenha (keyup)="validaSenha(qtdSenha.value)">
<button [disabled]="! habilitarBotao" (click)="gravarSenha(qtdSenha.value)">Gravar Senha</button>

<h3>
    Evento keyup.enter adicionar na lista
</h3>
<input type="text" #conteudo (keyup.enter)="adicionar(conteudo.value);conteudo.value=''">
<ul>
    <li *ngFor="let item of valores"> {{item}} </li>
</ul>

<h3>blur</h3>
<input type="text" #data (blur)="verIdade(data.value)">
<p>Você tem: {{idade}} anos de idade.</p>